body {
    background-color: #ffffff;
    font-family: Favoritfreshly, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 1.43em;
    font-weight: 400;
}
/* navbar ends */
#upper {
    display: flex;
    justify-content: center;
    
    margin-top: -10px;
  }
  #first_img1 {
    width: 60px;
    height: 40px;
    
    margin-right: 20px;
    text-decoration: underline;
  }
  
  #second_img {
    width: 80px;
    height: 40px;
  }
  
  #navbar {
    width:100%;
    height: 72px;
    background-color: rgb(255, 253, 247);
    display: flex;
    margin-top: -5px;
    margin: auto;
    align-items: center;
    position: sticky;
  }
  #nav_i {
    width: 200px;
   margin-bottom:0px;
    margin-left: 30px;
  
  }
  #nav_img {
    width: 107px;
    height: 24px;
  }
  #nav_a {
    justify-content: center;
    margin: auto;
    width: 100%;
    display: flex;
  }
  #nav_a > div > a {
    font-family: Favoritfreshly, sans-serif;
    color: rgb(48,58,66);
    margin-left: 30px;
    font-size: 14px;
    line-height: 1.43em;
    font-weight: 550;
    text-decoration: none;
  }
  #nav_a > div > a:hover {
    color: rgb(49, 103, 255);
  }
  
  #nav_log {
    width: 200px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #nav_log1 > a {
    font-family: Favoritfreshly, sans-serif;
    color: #303030;
    font-size: 14px;
    line-height: 1.43em;
    font-weight: bold;
    text-decoration: none;
  }
  #nav_log1 > a:hover {
    color: rgb(49, 103, 255);
  }
  #nav_log2 > a>button {
    background: rgb(49, 103, 255);
    color: white;
    width: 80.64px;
    height: 33.28px;
    font-size: 14px;
    line-height: 1.43em;
    border: 1px;
    font-weight: bold;
    font-family: Favoritfreshly, sans-serif;
  }
  
  #nav_log2 > a>button:hover {
    transform: translate(2px, -2px); 
  }
  #navbar {
    position: sticky;
    top: -100px;
  }
  /* navbar ends */

#container {
    height: 450px;
    width: 100%;
    display: flex;

}

button {
    background-color: white;
    color: #3167ff;
    border: 1px solid #3167ff;
    font-size: 18px;
    height: 40px;
    width: 130px;
}
button:hover{
    transform: translate(2px,-2px) ;
}

#btn {
    background-color: #3167ff;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    margin-right: 10px;
}

#child1 {
    height: 430px;
    width: 40%;
    padding: 40px;

}

#child2 {
    height: 430px;
    width: 60%;
}

img{
    object-fit: cover;
    height: 450px;
    width: 100%;
}

#head1 {
    font-family: Favoritfreshly, sans-serif;
    margin-top: 70px;
    line-height: 52px;
    font-size: 48px;
    color: #333;
    font-weight: 700;
}

#head2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    font-family: Favoritfreshly, sans-serif;
    color: #333;
}

h2 {
    padding-bottom: 0;
    font-size: 38px;
    line-height: 1.16em;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}

#process {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

}

#unit1 {
    height: 250px;
    width: 400px;
    text-align: center;

    box-sizing: border-box;

}

#unit2 {
    height: 250px;
    width: 400px;
    text-align: center;

    box-sizing: border-box;
    padding: 0px 10px;
}

#unit3 {
    height: 250px;
    width: 400px;
    text-align: center;

    box-sizing: border-box;
    padding: 0px 10px;
}

#unit1>img {
    height: 65%;
    width: 50%;
}

#unit2>img {
    height: 65%;
    width: 50%;
}

#unit3>img {
    height: 65%;
    width: 50%;
}

#title {
    font-size: 24px;
}

#title2 {
    font-size: 24px;
    padding: 0px 20px;
}

#title3 {
    font-size: 24px;

}

p {
    font-size: 14px;
}

#needs {
    font-size: 38px;
    margin-top: 150px;
}

#details {
    text-align: center;
    width: 34.2%;
    margin: auto;
}

#problems {
    display: flex;
    height: 370px;
    width: 100%;

    margin-top: 50px;
    gap: 80px;
    justify-content: center;
}

#problems>div {
    height: 370px;
    width: 320px;

    text-align: center;

}

#problems>div>img {
    height: 60.8%;
    width: 90%;
    object-fit: cover;

}

#h3 {
    font-size: 22px;
}

#imgcontainer {
    height: 1000px;
    width: 100%;

    margin-top: 80px;
}

#imgcontainer>img {
    height: 1000px;
    width: 100%;
    position: relative;

}

#innerContainer {
    position: absolute;
    top: 1840px;

    height: 800px;
    width: 70%;
    margin-left: 250px;
    background-color: #ffffff;


}

#quest {
    font-size: 38px;
    margin-top: 50px;
}

#questions {
    height: 500px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    line-height: 40px;
}

hr {
    border-bottom: 1px solid hsla(0, 0%, 78.8%, .75);
}

#choice {
    font-size: 38px;
    margin-top: 70px;
}

#para {
    text-align: center;
    margin-top: -18px;
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 160px);
    margin-top: 40px;
    justify-content: center;
    gap: 10px;
    grid-template-areas:
        "a b c d"
        "e f g h";
}

#gridContainer>div {
    height: 210px;
    width: 160px;

    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

#gridContainer>div>img {
    height: 60%;
    width: 100%;
    object-fit: cover;
}

#menu-card-title {
    font-size: 16px;
    text-align: center;
    margin-top: 1px;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;

}

.e {
    grid-area: e;
    margin-top: 60px;
}

.f {
    grid-area: f;
    margin-top: 60px;
}

.g {
    grid-area: g;
    margin-top: 60px;
}

.h {
    grid-area: h;
    margin-top: 60px;
}

#push {
    margin-top: 160px;
    margin-left: 460px;
    color: white;
    background-color: #3167ff;
    border: 1px solid #3167ff;
    height: 50px;
    width: 150px;
}


@media all and (min-width:400px) and (max-width:700px) {
    #container {
        height: 450px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "b"
            "a";

    }

    #head1 {
        margin-top: 0px;
        text-align: center;
        padding-right: 350px;

    }

    #head2 {
        text-align: left;
    }

    #child1 {
        height: 430px;
        width: auto;
        justify-content: center;

        border: 1px solid white;
    }

    img {
        object-fit: cover;
        height: 450px;
        width: auto;
    }

    .press {
        justify-content: center;
    }

    button {
        background-color: white;
        color: #3167ff;
        border: 1px solid #3167ff;
        font-size: 18px;
        height: 40px;
        width: auto;
        margin: auto;

    }

    #btn {
        background-color: #3167ff;
        color: white;
        border: 1px solid white;
        font-size: 18px;
        width: auto;
        margin: auto;
    }

    .a {
        grid-area: a;

    }

    .b {
        grid-area: b;
    }

    .h2 {
        margin-top: 400px;
        text-align: center;
    }

    #process {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "uni1"
            "uni2"
            "uni3";

    }

    .uni1 {
        margin-top: 20px;
        grid-area: uni1;
        margin: auto;

    }

    .uni2 {
        grid-area: uni2;
        margin: auto;
    }

    .uni3 {
        grid-area: uni3;
        margin: auto;
    }

    #needs {
        text-align: center;
    }

    #details {
        text-align: center;
        width: 80%;
    }

    #imgContainer {
        /* margin-top: 5500px; */
        height: 0px;
    }

    #imgContainer>img {
        /* margin-top: 5500px; */
        height: 0px;
    }

    #gridContainer {
        /* margin-top: 1500px; */
        margin: auto;
        text-align: center;
    }

    #innerContainer {
        margin-top: 1000px;

    }
    /* footer start */
#footer div {
    width: 85%;
    /* border: 1px solid black; */
    margin-left: 14%;
  }
  #footer div div {
    width: 15%;
    float: left;
    /* border: 1px solid red; */
    margin-left: 5%;
    margin-top: 60px;
    
  }
  #footer div div p {
    font-size: 16px;
    font-family: sans-serif;
  }
  #footer div div a {
    color: #535369;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
  }
.ok{
  /* filter:Grayscale(1);
  -webkit-filter:Grayscale(1);
  color: grey; */
  opacity:.65;
}

  #footer div div a img {
    margin-right: 6%;
    /* filter:Grayscale(1)  ;
    -webkit-filter:Grayscale(1)  ; */
}

 /* Footer end */

}