* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* nav bar start here */
#type {
  width: 240px;
  height: 25px;
  margin-top: 0%;
  /* border: 1px dashed red; */
  display: flex;
  margin: auto;
  margin-bottom: 10px;
}

#type > div {
  /* border: 1px solid black; */
  width: 120px;
  height: 100%;
  margin: auto;
}
#consum {
  width: 52%;
}
#busi {
  width: 90%;
}
#navpar {
  width: 100%;
  /* background-color: rgb(255, 255, 255);  */
  /* position: fixed; */
  /* top: 0px; */
  /* border: 1px solid red; */
  background-color: #fffdf7;
}
#navbar {
  height: 50px;
  /* border: dashed black 1px; */
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
#navbar > div {
  height: 45%;
  /* border: 1px solid red; */
  margin-top: 15px;
  font-family: Favoritfreshly, sans-serif;

  font-weight: 700;
}
#logofornav {
  width: 100px;
  margin-left: 10px;
}
#navitem {
  display: flex;
  width: auto;
}
#navitem > div {
  /* border:1px solid green; */
  margin: 0px 20px;
  font-size: 14px;
}
#navitem > div:hover {
  color: rgb(49, 103, 255);
}
#logsign {
  height: 55%;
  display: flex;
  margin-top: 0px;
  justify-content: center;
}
#logsign > div {
  margin-right: 5px;
}
#logsign > button {
  height: 30px;
  background-color: rgb(49, 103, 255);
  color: rgb(255, 255, 255);
  margin: 0px 5px;
  border: 0px;
  height: auto;
}

/* nav bar ends here */

#sub_req {
  width: 100%;
  /* border: 2px solid black; */
  display: flex;
  height: 70px;
  /* border: 2px solid red; */
  
  background-color: rgb(255,253,247);
  border-bottom: 1px solid rgb(195, 195, 195);
}

#sub_req > div:nth-child(1) {
  margin-left: 100px;
  width: 5%;
  /* border: 2px solid green; */
  height: 40px;
  margin-top: 30px;
}

#sub_req > div:nth-child(2) {
  margin-left: 65%;
  margin-top: 20px;
  /* border: 2px solid yellow; */
  width: auto;
  height: 50px;
}

#sub_req > div:nth-child(3) {
  /* width: 300px; */
  height: 50px;
  /* border: 2px solid black; */
  margin: 20px;
}

.sub_a {
  color: rgb(3,81,78);
  text-decoration: none;
  text-align: center;
  border: 0;
  /* border: 2px solid blue; */
    color: rgba(3, 81, 78, 1);
    /* display: none; */
    font-size: 14px;
    /* padding: 0 20px 0 0; */
    /* padding-top: 500px;
     */
     margin-top: 30px;
    width: auto;
  /* margin-top: 50px; */
}

.sub_a:hover {
  border-bottom: 1px solid black;
}

.wrapper{

  background-image: url(https://theme.zdassets.com/theme_assets/1612443/d214b970a5c2a51ac648138ebda4c206924c9dd7.jpg);
  background-repeat:no-repeat;
/* background-size: 300%; */
    /* background-size: cover; */
  /* width: 100%;
  height: 300px;
  padding: 0 80px; */
  background-color: rgb(255,253,247);
  background-position: center;
    /* background-size: 100%; */
    height: 300px;
    padding: 0px 0px;
    margin:auto;
    text-align: center;
    
    width: 100%;
    margin-top:65px;
    
    /* position:fixed; */
    top:0;
    bottom:0;
    left:0;
    right:0;
    /* text-align: center; */
    /* width:100%;
    height:100%; */
}
/* #submit-req {
  text-align: right;
  width: 100%;
} */
#s{
  border: 1px solid rgb(255,253,247);
  border-radius: 30px;
  box-sizing: border-box;
  color: #666;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-appearance: none;
  width: 50%;
  margin-top:120px;
  /* height: 55px; */
  /* width: 100%; */
  outline: none;
  border: none;
  border-radius: 50px;
  padding: 0 60px 0 20px;
  font-size: 16px;
  /* border: 1px solid red */
  /* -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px; */
    /* text-align: center; */

  /* -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px; */
}


/* #submit-req button {
  cursor: pointer;
  width: 200px;
  font-size: 18px;
  padding: 5px;
  margin-top: 10px;
  opacity: 0.9;
  color: blue;
} */

.wrapper {
  width: 100%;
  margin:  auto;
  /* margin-top:50px; */
  /* border: 1px solid black */
  /* margin-right:50px */
}

.wrapper .search-input {
  /* position: relative; */
  background: rgb(255,253,247);
  width: 100%;
  border-radius: 5px;
  /* box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12); */
}



/* .search-input .icon {
  height: 55px;
  width: 55px;
  line-height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
} */
/* 
.search-input .autocom-box {
  padding: 0px;
  max-height: 280px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
} */
/* .search-input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
} */

/* .autocom-box li {
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: none;
} */

/* .search-input.active .autocom-box li {
  display: block;
} */
/* 
.autocom-box li:hover {
  background: #efefef;
} */

#helpslide2 {
  /* width: 1400px;
height: auto;
  margin: auto;

border: 1px solid purple;
  margin-top: 50px;
  /* padding-top: 80px; */
  /* display: grid;
  row-gap: 34px;
  column-gap: 35px;
  grid-template:
    "hbox1 hbox2 hbox3"
    "hbox4 hbox5 hbox6"
    "hbox7 hbox8 hbox9"
    "hbox10 hbox11 hbox12"
    "hbox13 hbox13 hbox13"; 
  grid-template-columns: 40% 40% 40%;  */
  /* border: 2px solid red; */
  height:420px;
  width:90%;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows: repeat(4,75px);
  margin-top: 50px;
  gap: 30px 30px;

}
#section1 div a{
  color:black;
  padding-top:50px;
  margin-bottom:90px;
  text-decoration: none;
 /* text-align: center; */
}
#section1 {
  /* color:black; */
  width:96%;
  margin-top:50px;
  /* border: 2px solid brown; */
  margin:auto;height:75px;

}
#helpslide2 > div {
  text-align: center;

  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 50px;

}
#hbox1,
#hbox2,
#hbox3,
#hbox4,
#hbox5,
#hbox6,
#hbox7,
#hbox8,
#hbox9,
#hbox10,
#hbox11,
#hbox12 {
  /* width: 30%; */
  height: 50px;
  border: 1px solid rgb(3,81,78);
  border-radius: 5px;
  text-decoration: none;
}
#hbox13 {
  width: 94%;
  height: 76px;
  border: 1px solid rgb(3,81,78);
  border-radius: 5px;
  padding-top:25px;
  margin-left: 35px;
 /* padding-left: 90px; */
}
/* #helpslide2{

max-width: 1160px;
margin: 0 auto;
padding: 0 5%;
} */
#helpslide2 div  {
  /* text-decoration: none; */
  
  color: rgb(3,81,78);
  text-decoration: none;
}

  #helpslide2 > div :hover{
    color:white;
    
  }
  #hbox13{
    color: rgb(3,81,78);
    text-decoration: none;
    text-align: center;
  }
  #hbox13:hover{
    color:white;
    background-color:rgb(3,81,78);
  }

#promo {
  text-align: start;
 font-size: 22px;
font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
 margin-top:40px;
 margin-left:55px;
 font-weight: 400;
}
#helpslide2 :hover {
  background-color: rgb(3,81,78);
  color: white;

}
/* #high{
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */
.high{
  grid-template-rows: repeat(3,60px);
  display:grid;
  grid-template-columns:  repeat(3,1fr);
  /* margin-top: 50px; */
  /* padding-top: 80px; */
/* border: 2px solid green; */
  row-gap: 10px;
  column-gap: 35px;
width: 90%;
margin: auto;
margin-top:10px;
 
}
.high > div{
  border-bottom: 1px solid rgb(218, 213, 213);
  text-align: left ;
  padding-bottom: 20px;
margin-top:20px;
}
.high div a{
  color:black;
  text-decoration: none;
}
#hr{
  /* margin: 1em 1em;
   */
   margin-left: 5%;
}
#logo{
  color: #636363;
  margin-top:40px;
  margin-left: 50px;;
padding-bottom: 50px;;
}
.button {
  padding-bottom: 30px;
  margin-left: 1100px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  border: 1px solid rgba(0, 0, 0, .05);
  /* transition: 120ms ease; */
  transition: 200ms opacity ease;
  position: absolute;
  width:10%;
  /*top: 50%;
  *//*left: 50%;
  */transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  
}
.button__icon{
  height:30px;
  width:30px
}

/* element.style {
  background-color: rgb(255, 255, 255);
  height: 44px;
  width: 44px;
  color: rgb(255, 255, 255);
} */
   
  
.button--appear {
  opacity: 1;
}
#button{
  margin-bottom:50px;
 
  
}
#link{
  color:rgb(3,81,78) ;
}