body{
    background-color: #fffdf7; 
}
/* nav bar start here */
#type {
    width: 240px;
    height: 25px;
    margin-top: 0%;
    /* border: 1px dashed red; */
    display: flex;
    margin: auto;
    margin-bottom: 10px;
  }
  a{
    color:#303030;
    text-decoration: none;
  }
  
  #type > div {
    /* border: 1px solid black; */
    width: 120px;
    height: 100%;
    margin: auto;
  }
  #consum {
    width: 52%;
  }
  #busi {
    width: 90%;
    filter:grayscale(1)  ;
    -webkit-filter:grayscale(1)  ;
}
  #navpar {
    width: 100%;
    /* background-color: rgb(255, 255, 255);  */
    /* position: fixed; */
    /* top: 0px; */
    /* border: 1px solid red; */
    background-color: #fffdf7;
  }
  #navbar {
    height: 50px;
    /* border: dashed black 1px; */
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  #navbar > div {
    height: 45%;
    /* border: 1px solid red; */
    margin-top: 15px;
    font-family: Favoritfreshly, sans-serif;
  
    font-weight: 700;
  }
  #logofornav {
    width: 100px;
    margin-left: 10px;
  }
  #navitem {
    display: flex;
    width: auto;
  }
  #navitem > div {
    /* border:1px solid green; */
    margin: 0px 20px;
    font-size: 14px;
  }
  #navitem > div >a:hover {
    color: rgb(49, 103, 255);
  }
  #logsign {
    height: 55%;
    display: flex;
    margin-top: 0px;
    justify-content: center;
  }
  #logsign > div {
    margin-right: 5px;
  }
  #logsign > button {
    height: 30px;
    background-color: rgb(49, 103, 255);
    color: rgb(255, 255, 255);
    margin: 0px 5px;
    border: 0px;
    height: auto;
  }
  button:hover{
    transform: translate(2px,-2px);
  }
  
  /* nav bar ends here */
#container{
    height:400px;
    width:510px;
    margin: auto;
    margin-top: 100px;
  
    font-family: FavoritFreshly,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #fffdf7;
   
}
h1{
    font-size: 41px;
    text-align: center;
}
#form{
    margin-top: -10px;
}
#email{
    height:30px;
    width:500px;
    font-size: 18px;
}
#pass{
    height:30px;
    width:500px;
    font-size: 18px;
}
#login{
    height:32px;
    width:508px;
    font-size: 18px;
    margin-top: 25px;
    background-color: rgb(0, 110, 255);
    color:white;
    font-weight: bold;
    border:0px;
  
}
p{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}
#opt{
    display: flex;
    justify-content: space-between;
}
#a{
    margin-top: 20px;
}
#a{
    color:rgb(0, 110, 255);
    font-size: 14px;
}
::placeholder{
  font-size: 14px;
}

/* footer start */
hr{
  color: #e4e4ee;
}
#footer{
  margin-top: -30px;

} 
    #footer div {
      width: 85%;
      /* border: 1px solid black; */
      margin-left: 14%;
    }
    #footer div div {
      width: 15%;
      float: left;
      /* border: 1px solid red; */
      margin-left: 5%;
      margin-top: 60px;
      
    }
    #footer div div p {
      font-size: 16px;
      font-family: sans-serif;
    }
    #footer div div a {
      color: #535369;
      text-decoration: none;
      font-size: 14px;
      font-family: sans-serif;
    }
    .ok{
    /* filter:Grayscale(1);
    -webkit-filter:Grayscale(1);
    color: grey; */
    opacity:.65;
    }

    #footer div div a img {
      margin-right: 6%;
      /* filter:Grayscale(1)  ;
      -webkit-filter:Grayscale(1)  ; */
    }
    #img{
      margin-top: 20px;
      height:30px;
    }
    #p{
      margin-top: 0px;
      color: #535369;
    }

/* Footer end */